@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply grid grid-flow-col p-4 h-40 mx-10 border-2 border-gray-400 rounded-2xl bg-white;
  }
}
*{
  font-family: 'Poppins';
}
.services{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  div{
    width: 100%;
  }
}
h1{
  color:black;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  opacity: 1;
  color: black;
  position: relative;
  text-shadow: 0px 0px 3px white;
}
h3{
  font-size: 1.7rem;
}
p{
  font-size: 1rem;
}
.cardbox{
  display:grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  box-shadow: 1px 1px 2px 2px rgba(151, 153, 152, 0.2), -1px -1px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  p{
    padding-left:2rem;
  }
  h1{
    font-size: 2.5rem;
    font-weight: bold;
  }
  ul{
    list-style-type: none;
    font-size: 1.2rem;
  }
  li{
    background-color: rgba(232, 232, 232, 0.2);
    box-shadow: 1px 1px 2px 2px rgba(232, 232, 232, 0.2), -1px -1px 2px 2px rgba(0, 0, 0, 0.2);
    color:black;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    margin: 0.5rem 0.2rem;
  }

}
.foot{
  text-align: center;
  margin-top: 10rem;
}
#nettisivut{
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nettisivut::before{
  transition-timing-function: cubic-bezier(0.4, 0,0.2,1);
  transition-duration: 300ms;
  content: "";
  background-image: url("../images/laptop.jpg");
  background-position-y: -100px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.link:hover #nettisivut::before, .link:hover #digituki::before {
  transition: opacity 800ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.link:hover #nettisivut h2, .link:hover #digituki h2{
  transition: font-size 800ms, color 800ms;
  color:white;
  font-size: 2.5rem;
  text-shadow: 0px 0px 5px black;
}
#digituki{
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
#digituki::before{
  content: "";
  background-image: url("../images/help.jpg");
  background-position-y: -100px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

@media only screen and (max-width: 1200px) {
  #nettisivut::before{
    background-position-y: 0;
}#digituki::before{
   background-position-y: 0;
   }
 }
.listline{
  list-style-type: circle;
  padding-left: 3rem;
}

.serviceCard{
  border: 9px outset #50cdff;
  background-color: rgba(80,205,255,0.2);
}
.lomake{

}
.button{
  padding: 1em 1.5em;
  background-color: rgba(250,250,250,0.5);
  border: 1px dotted black;
  border-radius: 2em;
}
.button:hover{
  background-color: rgba(224,224,224,1);

}