@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply grid grid-flow-col p-4 h-40 mx-10 border-2 border-gray-400 rounded-2xl bg-white;
  }
}
*{
  font-family: 'Poppins';
}
.services{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  div{
    width: 100%;
  }
}
h1{
  color:black;
}
h2{
  font-weight: bold;
  font-size: 2rem;
  opacity: 1;
  color: black;
  position: relative;
  text-shadow: 0px 0px 3px white;
}
h3{
  font-size: 1.7rem;
}
p{
  font-size: 1rem;
}
.cardbox{
  display:grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  box-shadow: 1px 1px 2px 2px rgba(151, 153, 152, 0.2), -1px -1px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  p{
    padding-left:2rem;
  }
  h1{
    font-size: 2.5rem;
    font-weight: bold;
  }
  ul{
    list-style-type: none;
    font-size: 1.2rem;
  }
  li{
    background-color: rgba(232, 232, 232, 0.2);
    box-shadow: 1px 1px 2px 2px rgba(232, 232, 232, 0.2), -1px -1px 2px 2px rgba(0, 0, 0, 0.2);
    color:black;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    margin: 0.5rem 0.2rem;
  }

}
.foot{
  text-align: center;
  margin-top: 5rem;
}
#nettisivut{
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nettisivut::before{
  content: "";
  background-image: url("../images/laptop.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
#digituki{
  position: relative;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
#digituki::before{
  content: "";
  background-image: url("../images/help.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.listline{
  list-style-type: circle;
  padding-left: 1rem;
}