
.nav{
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  padding: 0.5rem 0;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  justify-content: center;
  a{
    margin: 0 1rem;
  }
  a:hover{
    color: rgb(0, 142, 208);
  }
}

.navBurger{
  display: none;
}

@media only screen and (max-width: 740px){
  .nav{
    display: none;
  }
  .navBurger{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(114, 114, 114, 0.5);
    width: 100%;
    font-size: 1.5rem;
    position: relative;
    button{
      border: none;
    }
  }
}
