$black: #131515;
$gray: #2B2C28;
$green-dark: #339989;
$green-light: #7DE2D1;
$white: #FFFAFB;
.nav{
  border-bottom: 1px solid $green-dark;
  position: fixed;
  width: 100%;
  background-color: $gray;
  color: $white;
  top: 0;
  padding: 0.5rem 0;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  justify-content: center;
  a{
    margin: 0 1rem;
  }
  a:hover{
    color: $green-dark;
  }
}

.navBurger{
  display: none;
}

@media only screen and (max-width: 740px){
  .nav{
    display: none;
  }
  .navBurger{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    background-color: $gray;
    color: $green-light;
    border-bottom: 1px solid $green-dark;
    width: 100%;
    font-size: 1.5rem;
    position: relative;
    button{
      border: none;
      background-color: $gray;
      color: $green-light;
    }
  }
}
